<%- include('header') %>
<h2 class="finalthanks">Thank you for shoping <%= name %></h2>
<p class="willdelivery">
  your dress will be deliver in 3- 5 business days at this
</p>
<address class="displayadd">
  <%= add %><br />
  <%= state %><br />
  <%=city%><br />
  <%= pin %>
</address>

<%- include('footer') %>
